.open-sans{
    font-family: 'Open Sans', sans-serif;
}

.source_pro{
    font-family: 'Source Sans Pro', sans-serif;
}
#intro{
  background-color:#12a4b7;  
}
.title-center{
    text-align: center
}
@media screen and (max-width: 768px) {
    .title-center {
        font-size:28px;
    }
}